/* * {
  padding: 0;
  margin: 0;
} */


/*---------------------------------------------------------------------------------*/
/* algemeen */

body {
  background-color: #F2F2F2;
}

h1, h2{
  font-family: 'Times New Roman', Times, serif;
}

h4,
p,
a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-size: 0.9em;
  margin: 5%;
  margin-top: 1%;
  margin-right: 9%;
  margin-left: 9%;
  text-align: justify;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding: 1em;
  border-bottom: solid;
  border-top: solid;
  border-color: #DE6688;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 0.9em;
  margin-bottom: 0%;
  margin-left: 9%;
}

/*---------------------------------------------------------------------------------*/
/* navigatie balk */

header {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}

header nav {
  position: fixed;
}

header nav ul {
  display: flex;
  /* flex-direction: row; */
  background-color: #2e2a2b;
  border-radius: 10em;
  padding: 0;
}

header nav ul li {
  list-style: none;
  margin: 1em;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 0.9em;
}

/*---------------------------------------------------------------------------------*/
/*homepagina*/

.home main ul {
  display: flex;
  justify-content: center;
}

.home main ul img {
  height: 18vw;
  padding: 5%;
}

.home main ul img:hover {
  border: solid #DE6688;
}

.home main ul li {
  list-style: none;
  padding: 7%;
}

.home main section:first-of-type p {
  margin: 0 24%;
  border: 0.5em dotted #DE6688;
  padding: 3%;
}

.home main section+section {
  display: flex;
  align-items: center;
  background-color: #eed7de;
  padding: 4% 0;  /*boven;rechts;onder;links*/
  margin-top: 10%;
}

.home main section+section img {
  max-width: 20em;
  margin-right: 5%;
  margin-left: 14%;
}

.home main section+section div {
  display: flex;
  flex-direction: column;
  margin-right: 14%;
}

.home main section+section h2,
.home main section+section p {
  margin: 2%;
}

/*---------------------------------------------------------------------------------*/

.restaurants main>article {
  display: flex;
}

.restaurants main article:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.restaurants h2 {
  margin-left: 9%;
  margin-bottom: 1%;
}

.restaurants div {
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
}

/*---------------------------------------------------------------------------------*/
/*Vakantiebestemmingen*/

.vakantiebestemmingen main nav ul li {
  list-style: none;
}

.vakantiebestemmingen main nav ul li img {
  height: 5em;
}

.vakantiebestemmingen main ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vakantiebestemmingen main ul li {
  padding: 7%;
}

/*---------------------------------------------------------------------------------*/
/*Films en Series*/

.filmsenseries h2 {
  margin: 5%;
  /* gaat om de 'films' en 'series'*/
  text-align: center;
}

.filmsenseries div h4 {
  margin: 5%;
}

.filmsenseries div img {
  width: 50%;
  padding: 20px;
}

.filmsenseries div img:hover {
  border: 5px solid #DE6688;
  padding: 15px;
}

.filmsenseries main {
  display: flex;
  flex-direction: column;
}

.filmsenseries section {
  display: flex;
  flex-wrap: wrap;
}

.filmsenseries div {
  text-align: center;
  flex: 1 1 calc(33.33% - 5%);
  /* drie afbeeldingen per rij*/
  /*calc houdt in dat de afbeeldingen 33.33% van de ruimte innemen*/
  background-color: #eed7de;
  margin: 1%;
  padding-top: 2%;
}

/*---------------------------------------------------------------------------------*/
/*footer*/
footer img {
  width: 4%;
}

footer a {
  text-decoration: none;
  color: black;
  padding-top: 3%;
  padding-right: 3%;
}

footer {
  border-top: solid;
  margin-top: 5%;

}