/*---------------------------------------------------------------------------------*/
/* algemeen */

body {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: 'Times New Roman', Times, serif;
}

h4,
p,
a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  font-size: 0.9em;
  text-align: justify;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding: 1em;
  border-bottom: solid #DE6688;
  border-top: solid #DE6688;
  margin: 10% 25% 0;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 0.9em;
}

/*---------------------------------------------------------------------------------*/
/* navigatie balk */

header {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}

header nav {
  position: fixed;
}

header nav ul {
  display: flex;
  background-color: #DE6688;
  border-radius: 10em;
  padding: 0;
}

header nav ul li {
  list-style: none;
  text-align: center;
  margin: 5px 20px;
  padding: 10px;
  /* pixels, zodat de tekst niet verpringt in de hover stage*/
}

header nav ul li:hover {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  margin: 4px 20px 4px;
  /*"*/
}

/*---------drop down menu---------*/

header nav ul li ul {
  position: absolute;
  left: -999em;
  /*zet de ul buiten het zicht*/
  margin: 1.7%;
  margin-left: -2%;
}

header ul li:hover ul {
  left: auto;
  /*plaatst de tweede ul automatisch onder de eerste ul*/
}

header ul li ul li a {
  margin-top: 4px;
}

.home header nav ul li ul li:first-of-type,
.restaurants header nav ul li:nth-of-type(2),
.vakantiebestemmingen header nav ul li:nth-of-type(3),
.filmsenseries header nav ul li:nth-of-type(4) {
  margin: 5px 20px;
  padding: 10px;
  /*pixels, zodat de tekst niet verpringt in de hover stage*/
}

.home header nav ul li ul li:first-of-type:hover,
.restaurants header nav ul li:nth-of-type(2):hover,
.vakantiebestemmingen header nav ul li:nth-of-type(3):hover,
.filmsenseries header nav ul li:nth-of-type(4):hover {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  margin: 4px 20px 4px;
  /*"*/
}

header nav ul li a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 0.9em;
  text-transform: uppercase;
}


/*---------------------------------------------------------------------------------*/
/*homepagina*/

.home main section:first-of-type p {
  margin: 15% 20%;
  border: 0.5em dotted #DE6688;
  padding: 3%;
}

.home main section+section img {
  max-width: 20em;
  margin-right: 5%;
  margin-left: 14%;
}

.home main section+section {
  display: flex;
  background-color: #eed7de;
  padding: 4% 0;
  /*boven;rechts;onder;links*/
  margin-top: 10%;
}

.home main section+section div {
  display: flex;
  flex-direction: column;
  margin-right: 14%;
}

.home main section+section h2,
.home main section+section p {
  margin: 2%;
}

/*---------------------------------------------------------------------------------*/
/*restaurants*/

.restaurants main>article {
  display: flex;
  margin-top: 10%;
}

.restaurants main>article h2 {
  display: flex;
  margin-left: 9%;
}

.restaurants main>article h4,
.restaurants main>article p {
  display: flex;
  margin: 1% 9% 0;
}

.restaurants main article:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.restaurants div {
  margin: 0 5%;
}

.restaurants div img {
  border: solid none;
  border-radius: 0.5em;
}

.restaurants main article article {
  background-color: #eed7de;
  border: solid none;
  border-radius: 0.5em;
  margin-left: 5%;
  margin-right: 5%;
}

/*---------------------------------------------------------------------------------*/
/*Vakantiebestemmingen*/

.vakantiebestemmingen main div p {
  text-align: center;
  margin-top: 7%;
}

.vakantiebestemmingen main nav ul li {
  list-style: none;
  margin-bottom: 5px;
}

.vakantiebestemmingen main nav ul li:hover {
  border-bottom: 2px solid;
  border-color: #DE6688;
  margin-bottom: 3px;
}

.vakantiebestemmingen main nav ul li img {
  height: 5em;
}

.vakantiebestemmingen main ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vakantiebestemmingen main ul li {
  padding: 4%;
}

.vakantiebestemmingen #spanje,
#frankrijk,
#italie,
#zwitserland,
#costarica {
  margin-left: 7%;
  margin-right: 7%;
}

.vakantiebestemmingen article>article {
  display: flex;
}

.vakantiebestemmingen article>article>article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin: 4%;
  background-color: #eed7de;
}

.vakantiebestemmingen article>article>article img {
  height: 60%;
  width: 60%;
}

/*---------------------------------------------------------------------------------*/
/*Films en Series*/

.filmsenseries h2 {
  margin: 15% 40% 6%;
  padding-bottom: 1%;
  text-align: center;
  border-bottom: solid #DE6688;
}

.filmsenseries article h4,
.filmsenseries article p {
  margin: 7%;
}

.filmsenseries article img {
  width: 50%;
  padding: 20px;
}

.filmsenseries article img:hover {
  border: 5px solid #DE6688;
  padding: 15px;
}

.filmsenseries main {
  display: flex;
  flex-direction: column;
}

.filmsenseries section {
  display: flex;
  flex-wrap: wrap;
}

.filmsenseries article {
  text-align: center;
  flex: 1 1 calc(33.33% - 5%);
  /* drie afbeeldingen per rij*/
  /*calc houdt in dat de afbeeldingen 33.33% van de ruimte innemen*/
  background-color: #eed7de;
  margin: 1%;
  padding-top: 2%;
  border: solid none;
  border-radius: 1em;
}

/*---------------------------------------------------------------------------------*/
/*footer*/

footer {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: solid #DE6688;
  border-bottom: solid #DE6688;
  margin-top: 5%;
  margin-top: auto;
}

footer img {
  width: 12%;
  padding-left: 5%;
  margin-top: 3%;
}

footer p {
  padding: 0 3%;
}

footer p strong {
  font-weight: normal;
}